# Entorno virtual
yolo_env/

# Datos y datasets (pesados)
data/
dataset.zip
https://www.kaggle.com/datasets/kmader/skin-cancer-mnist-ham10000

# Resultados de entrenamiento (generados localmente)
runs/

# Modelos pesados (descargar, no subir)
*.pt
*.pth

# Archivos temporales de Python
__pycache__/
*.py[cod]
